server {
        {% if item.configuration.connection.non-ssl == True %}
        listen {{ item.configuration.connection.non-ssl-port }} default_server;
        listen [::]:{{ item.configuration.connection.non-ssl-port }} default_server;
        {% endif %}

        {% if item.configuration.connection.ssl == True %}
        listen {{ item.configuration.connection.ssl-port }} ssl default_server;
        listen [::]:{{ item.configuration.connection.ssl-port }} ssl default_server;
        include {{ item.configuration.connection.ssl-certificate-path }};
        {% endif %}

        root {{ item.configuration.configuration.root-directory }};
        index {{ item.configuration.configuration.index-files }};
        server_name {{ item.configuration.configuration.server-name }};
{% for location in item.configuration.configuration.locations %}
        location {{ location.name }} {
        {% for location_config in location.configuration %}
                {{ location_config }}
        {% endfor %}
        }
{% endfor %}
}
