server {
        {% if item.configuration.connection.non_ssl == True %}
        listen {{ item.configuration.connection.non_ssl_port }} default_server;
        listen [::]:{{ item.configuration.connection.non_ssl_port }} default_server;
        {% endif %}

        {% if item.configuration.connection.ssl == True %}
        listen {{ item.configuration.connection.ssl_port }} ssl default_server;
        listen [::]:{{ item.configuration.connection.ssl_port }} ssl default_server;
        include {{ item.configuration.connection.ssl_certificate_path }};
        {% endif %}

        root {{ item.configuration.root_directory }};
        index {{ item.configurationindex_files }};
        server_name {{ item.configuration.server_name }};
{% for location in item.configuration.locations %}
        location {{ location.name }} {
        {% for location_config in location.configuration %}
                {{ location_config }}
        {% endfor %}
        }
{% endfor %}
}
